<div class="{% if markers|length == 1 %}hidden{% endif %} flex flex-row flex-wrap justify-center text-gray-100">
    {% for marker in markers %}
        <label class="mx-2 my-3" for="map-selector-{{ forloop.counter }}">
            <input
                class="hidden"
                type="radio"
                id="map-selector-{{ forloop.counter }}"
                name="map-selector"
                {% if forloop.counter == 1 %}checked{% endif %}
            >
            <span
                class="p-2 cursor-pointer shadow-sm rounded-2xl border label-checked:border-2"
            >
                {{ marker.map.name }}
            </span>
        </label>
    {% endfor %}
</div>
