---
layout: base.njk
date: Last Modified

permalink: "books/"

title: "Books"

---
{% include "components/header.njk" %}

<div class="flex flex-col w-full items-center lg:bg-gray-100">
    <div class="h-96 bg-primary w-full"></div>
    <div class="flex flex-row flex-wrap items-stretch w-full -mt-[23rem] pb-4 bg-gray-100 rounded-lg text-gray-700 xl:w-5/6 2xl:w-3/4">
        {% for template in collections.books %}
            <div class="flex w-[95%] md:w-1/2 px-2 py-4">
                <div class="flex flex-col justify-start items-center rounded-xl bg-white">
                    <div class="flex flex-col items-center justify-center w-full">
                        <p class="text-2xl font-bold py-4">{{ template.data.item.name }}</p>
                        <p class="text-center px-4 pb-4 italic">{{ template.data.item.description }}</p>
                    </div>
                    <div class="flex flex-row items-center w-full flex-wrap px-2 pt-4 pb-8">
                        {% for map in template.data.item.maps %}
                            <a
                            href="/map/{{ maps[map.id].slug }}/"
                            class="
                                flex
                                flex-row
                                items-center
                                w-full
                                py-2
                                pl-6
                                cursor-pointer
                            "
                        >
                                <div class="h-12 w-12">
                                    <img
                                    src="{{ maps[map.id].thumbnail }}"
                                    class="h-full w-full object-cover rounded-full"
                                    loading="lazy"
                                >
                                </div>
                                <p class="pl-2 text-lg underline decoration-1 underline-offset-2">{{ maps[map.id].name }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{% include 'components/footer.njk' %}
