---
layout: base.njk
date: Last Modified

permalink: "books/"

title: "Books"

---
{% include "components/header.njk" %}

{% macro bookList(serie, checked, last) %}
    <div class="accordeon-parent flex flex-col w-full py-2 px-2 {% if not last %}border-b border-gray-300 border-opacity-80{% endif %}">
        <label class="flex flex-row justify-between px-4 py-4">
            <h2 class="text-xl text-left font-bold">{{ serie }}</h2>
            <div class="flex flex-row items-center w-9 ml-4 cursor-pointer">
                <input type="checkbox" class="accordeon-checkbox peer hidden" {% if checked == true %}checked{% endif %}>
                <span class="transition ease-in-out duration-500 w-1/2 h-1 bg-gray-700 rotate-45 -mr-[0.21rem] rounded-lg peer-checked:-rotate-45"></span>
                <span class="transition ease-in-out duration-500 w-1/2 h-1 bg-gray-700 -rotate-45 -ml-[0.21rem] rounded-lg peer-checked:rotate-45"></span>
            <div>
        </label>
        <div class="accordeon-content transition ease-in-out duration-500 flex flex-row flex-wrap justify-center items-stretch w-full overflow-hidden {% if checked == true %}max-h-full opacity-100{% else %}max-h-0 opacity-0{% endif %}">
            {% for template in collections.books %}
                {% if template.data.item.series == serie %}
                    <div class="flex w-[95%] px-2 py-4 md:w-1/2 2xl:w-1/3">
                        <div class="flex flex-col justify-start items-center rounded-xl bg-white pb-4">
                            <div class="flex flex-col items-center w-full min-h-[50%]">
                                <h3 class="text-2xl font-bold py-4">{{ template.data.item.name }}</h3>
                                <p class="text-center px-4 pb-4 italic">{{ template.data.item.description }}</p>
                            </div>
                            <div class="flex flex-col w-full px-2 pt-4 pb-8">
                                {% for map in template.data.item.maps %}
                                    <a
                                    href="/map/{{ maps[map.id].slug }}/"
                                    class="
                                        flex
                                        flex-row
                                        items-center
                                        w-full
                                        py-2
                                        pl-6
                                        cursor-pointer
                                    "
                                >
                                        <div class="h-12 w-12">
                                            <img
                                            src="{{ maps[map.id].thumbnail }}"
                                            class="h-full w-full object-cover rounded-full"
                                            loading="lazy"
                                        >
                                        </div>
                                        <p class="pl-2 text-lg underline decoration-1 underline-offset-2">{{ maps[map.id].name }}</p>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endmacro %}

<div class="flex flex-col w-full items-center lg:bg-gray-100">
    <div class="h-96 bg-primary w-full"></div>
    <div class="flex flex-col w-full -mt-[23rem] pb-4 rounded-lg bg-gray-100 text-gray-700 min-h-screen xl:w-5/6 2xl:w-3/4">
        {{ bookList("Malazan Book of the Fallen", true, false)}}
        {{ bookList("Novels of the Malazan Empire", false, false)}}
        {{ bookList("Kharkanas Trilogy", false, false)}}
        {{ bookList("Path to Ascendancy", false, false)}}
        {{ bookList("Witness Trilogy", false, true)}}
    </div>
</div>

{% include 'components/footer.njk' %}
