---
layout: base.njk
date: Last Modified

permalink: "continents/"

title: "Continents"
header: "Continents in the world of the Malazan Book of the Fallen series."

---
{% include "components/header.njk" %}

<div class="flex flex-col w-full items-center">
    <div class="h-96 bg-primary w-full"></div>
    <div class="flex flex-col items-center w-3/4 py-4 bg-white rounded-lg -mt-80 text-gray-700">
        {% for template in collections.continents %}
            <div class="w-[95%] mx-2 my-8 flex min-h-[20rem] shadow-lg rounded-lg">
                <div class="flex flex-col items-center justify-center w-1/2">
                    <p class="text-2xl font-bold py-4">{{ template.data.item.name }}</p>
                    <p class="text-center px-4 italic">{{ template.data.item.description }}</p>
                </div>
                <div class="w-1/2 flex flex-row justify-center items-center mx-8 flex-wrap p-2">
                    {% for map in template.data.item.maps %}
                        <a
                            href="/map/{{ maps[map.id].name | slugify }}/"
                            class="
                                w-1/2
                                p-2
                                max-h-28
                                flex
                                flex-row
                                items-center
                                cursor-pointer
                                border-b
                                border-transparent
                                hover:border-primary
                            "
                        >
                            <div class="h-24 w-24">
                                <img
                                    src="{{ maps[map.id].thumbnail }}"
                                    class="h-full w-full object-cover rounded-full"
                                    loading="lazy"
                                >
                            </div>
                            <p class="px-2 text-xl">{{ maps[map.id].name }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% include 'components/footer.njk' %}
