---
layout: base.njk
date: Last Modified

pagination:
    data: content
    size: 1
    alias: item
    addAllPagesToCollections: true

permalink: "{{ item.type }}/{{ item.slug }}/"

eleventyComputed:
    title: "{{ item.name | safe }}"
    description: "{{ item.description | safe }}"

---
{% import "components/navbar.njk" as navbar %}

<div class="flex flex-col flex-1 w-full bg-primary lg:flex-row">
    <div class="flex flex-col w-full items-center bg-primary lg:w-1/3 xl:w-1/4 lg:min-h-screen">
        {{ navbar.navbar(true) }}

        <div class="w-[85%] my-8 lg:mb-8">
            {% include 'components/search.njk' %}
        </div>

        <h1 class="mb-4 text-2xl font-bold text-center">
            {{ title }}
        </h1>

        <div class="w-full lg:my-8 {% if item.maps|length == 1 %}pb-8{% endif %}">
            <p class="text-center px-4 text-base">
                {{ description }} (<a class="underline whitespace-nowrap hover:text-blue-500" target="_blank" rel="nofollow noopener" href="{{ item.wikiLink }}">wiki</a>)
            </p>
        </div>

        <div class="{% if item.maps|length == 1 %}hidden{% endif %} flex flex-row flex-wrap justify-center px-2 py-8">
            {% for map in item.maps %}
                <label class="mx-2 my-3" for="map-selector-{{ loop.index }}">
                    <input
                        class="peer hidden"
                        type="radio"
                        id="map-selector-{{ loop.index }}"
                        name="map-selector"
                        {% if loop.index == 1 %}checked{% endif %}
                    >
                    <span
                        tabindex="0"
                        class="p-2 text-[0.9rem] cursor-pointer border border-gray-200 bg-primary rounded-2xl hover:bg-gray-600 peer-checked:border-2 peer-checked:bg-gray-600"
                    >
                        {{ maps[map.id].name }}
                    </span>
                </label>
            {% endfor %}
        </div>

        <div class="hidden mb-3 mt-auto lg:block">
            {% include 'components/footer.njk' %}
        </div>
    </div>

    <div id="maps" class="z-50 flex justify-center items-center flex-1 w-full relative overflow-hidden bg-primary rounded-lg lg:w-2/3 xl:w-3/4 lg:max-h-screen lg:bg-white">
        {% for map in item.maps %}
            <div
                class="{% if loop.index > 1 %}hidden{% endif %} relative flex rounded-md bg-white p-4 cursor-grab origin-center transform scale-1 translate-x-0 translate-y-0"
                id="map-imagewrapper-{{ loop.index }}"
            >
                <img
                    src="{{ maps[map.id].image }}"
                    class="map-image object-contain lg:max-h-screen"
                    alt="Map of {{ maps[map.id].name }}"
                    loading="lazy"
                >
                {% if 'marker' in map %}
                    <img
                        src="/static/img/marker.webp"
                        class="map-marker absolute opacity-0 w-5 h-5 sm:w-7 sm:h-7 object-contain"
                        data-markerx={{ map.marker.x }}
                        data-markery={{ map.marker.y }}
                        alt="{{ item.title }} marker"
                    >
                {% endif %}
            </div>
        {% endfor %}
        <div
            class="hidden justify-center items-center bg-gray-800 opacity-80 absolute top-[5%] left-[90%] w-10 h-10 lg:w-16 lg:h-16 p-1 cursor-pointer rounded-full shadow-lg hover:bg-primary hover:opacity-100"
            id="reset-zoom-button">
            <img
                src="/static/img/reset-zoom.webp"
                class="object-contain w-3/4"
                alt="Reset Zoom Button"
                title="Reset Zoom Button"
            >
        </div>
    </div>
</div>

<div class="lg:hidden w-full">
    {% include 'components/footer.njk' %}
</div>
