---
layout: base.njk
date: Last Modified

pagination:
    data: maps
    size: 1
    alias: item
    addAllPagesToCollections: true

permalink: "map/{{ item.name | slugify }}/"

eleventyComputed:
    title: "{{ item.name | safe }}"
    header: "{{ item.name | safe }}"
---
{% include "components/header.njk" %}
