---
layout: base.njk
date: Last Modified

permalink: "maps/"

title: "Maps"
header: ""
---
{% include "components/header.njk" %}

<div class="flex flex-col w-full items-center lg:bg-gray-100">
    <div class="h-96 bg-primary w-full"></div>
    <div class="flex flex-col w-full -mt-[23rem] pb-4 rounded-lg bg-gray-100 text-gray-700 min-h-screen xl:w-5/6 2xl:w-3/4">
        <div class="flex flex-row flex-wrap justify-center items-stretch w-full">
            {% for map in maps | sort(attribute="name") %}
                <a href="/map/{{ map.slug }}/" class="flex w-[95%] px-2 py-4 md:w-1/2 xl:w-1/3 2xl:w-1/4 cursor-pointer">
                    <div class="h-80 flex flex-col py-4 justify-start items-center w-full rounded-xl shadow-sm bg-white hover:shadow-lg">
                        <div class="h-4/5 w-full flex justify-center px-2">
                            <div class="h-full aspect-square">
                                <img src="{{map.thumbnail}}" class="h-full w-full object-cover rounded-full border-2 border-gray-200" loading="lazy">
                            </div>
                        </div>
                        <div class="h-1/5 flex flex-col items-center w-full">
                            <h2 class="text-lg font-bold p-4 text-center">{{ map.name }}</h2>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
