---
layout: base.njk
date: Last Modified

permalink: "privacy/"

title: "Privacy"

---
{% include "components/header.njk" %}

<div class="flex flex-col w-full items-center lg:bg-gray-100 flex-grow">
    <div class="h-96 bg-primary w-full"></div>
    <div class="flex flex-col flex-grow items-center w-full -mt-[23rem] p-4 bg-gray-100 rounded-lg text-gray-700 xl:w-5/6 2xl:w-3/4">
        <div class="pb-4 text-xl font-bold">Privacy Policy</div>
        <div>
            <ul class="list-disc list-inside">
                <li class="p-2">
                    No client-side analytics tools are used on this website/app.
                </li>
                <li class="p-2">
                    This website/app is hosted using Google App Engine (GAE). This tool provides request logging to monitor all incoming
                    requests to the server. This is used for monitoring purposes to make sure that all necessary resources are available to the users
                    and no errors have occured. GAE does include IP-adresses in these logs, and these are kept for 7 days.
                </li>
            </ul>
        </div>
    </div>
</div>

{% include "components/footer.njk" %}
