---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.all %}
    {%- if 'html' in item.outputPath %}
    <url>
        <loc>https://www.malazanmaps.com{{ item.url }}</loc>
        <lastmod>{{ item.date | date("yyyy-MM-dd")}}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.5</priority>
    </url>
    {%- endif %}
{%- endfor %}
</urlset>
