<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#082915">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Malazan Maps">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="full-screen" content="yes">
        <meta name="browsermode" content="application">
        <link rel="icon" href="/favicon.ico" sizes="any">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
        <link rel="canonical" href="https://www.malazanmaps.com{{ page.url }}">
        <title>{{ title }} | Malazan Maps</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" type="text/css" href="{{ '/static/css/main-dist.css' | bust }}" media="screen">
        <link rel="manifest" href="{{ '/manifest.json' | bust }}">
        <script async src="{{ '/static/js/main.js' | bust }}"></script>
    </head>
    <body class="h-full">
        <div class="flex flex-col items-center min-h-full text-gray-100 text-lg caret-transparent font-sans overflow-hidden">
            {{ content | safe }}
        </div>
    </body>
    {% if 'NODE_ENV' | env == 'production' %}
        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "14bbcec148534153af8df9fc3d0ed635"}'>
        </script>
        <!-- End Cloudflare Web Analytics -->
    {% endif %}
</html>
