<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#082915">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} | Malazan Maps</title>
        <meta name="description" content="{% if meta_description %}{{ meta_description}}{% else %}{{description}}{% endif %}">
        <link rel="stylesheet" type="text/css" href="/static/css/main-dist.css" media="screen">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <script async src="/static/js/search.js"></script>
    </head>
    <body>
        <div class="base-container">
            {{ content | safe }}
        </div>
    </body>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "14bbcec148534153af8df9fc3d0ed635"}'>
    </script>
    <!-- End Cloudflare Web Analytics -->
</html>
