---
layout: base.njk
---
{% include 'components/navbar.njk' %}

<div class="flex flex-col items-center bg-primary w-full pb-48">

    <div class="w-[85%] sm:w-96 my-4 lg:my-8">
        {% include 'components/search.njk' %}
    </div>
    <h1 class="text-center text-lg px-16">
        {{ header }}
    </h1>
</div>

 <div class="flex flex-col -mt-40 mx-4 bg-white rounded-md md:mx-8 md:w-3/4">
    <div class="m-2 md:my-4 md:mx-12" id="map-image-wrapper">
        <img
            src="{{ banner_landscape }}"
            class="hidden md:block"
            alt="{{ banner_landscape_name }}"
            title="{{ banner_landscape_name }}"
        >
        <img
            src="{{ banner_portrait }}"
            class="max-h-[500px] md:hidden"
            alt="{{ banner_portrait_name }}"
            title="{{ banner_portrait_name }}"
        >
    </div>
</div>

{% include 'components/footer.njk' %}
