{% load cdnstaticfiles %}

<script src="{% cdnstatic "js/search.js" %}"></script>
<div id="search-wrapper" class="search-wrapper">
    <div class="search-container">
        <img
            width="24"
            height="24"
            class="search-container-image"
            src="{% cdnstatic "img/search-1.webp" %}"
            alt="search icon"
            title="search icon"
        >
        <input
            spellcheck="false"
            id="search"
            type="text"
            class="search-container-input"
            placeholder="Search..."
        />
    </div>
    <div id="search-results" class="search-results hidden"></div>
</div>
