.home-container {
    display: flex;
    flex-direction: column;
    margin-top: -10rem;
    margin-bottom: -10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
    border-radius: 0.375rem;
}

@media (min-width: 768px) {
    .home-container {
        margin-left: 2rem;
        margin-right: 2rem;
        width: 75%;
    }
}

.home-image-wrapper {
    margin: 0.5rem;
}
