.map-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #082915;
    caret-color: transparent;
}

@media (min-width: 1024px) {
    .map-view-container {
        flex-direction: row;
    }
}

.left-header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #082915;
}

.left-header-title {
    display: none;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #f3f4f6;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .left-header-container {
        width: 25%;
        min-height: 100vh;
    }

    .left-header-title {
        display: block;
    }
}

.map-selector-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #f3f4f6;
}

.map-selector-label {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.map-selector-span {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #4b5563; /* #4b5563; */
    color: #f3f4f6; /* #1f2937; */
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.map-selector-span:hover {
    background-color: #1f2937;
}

.map-selector-label input:checked ~ .map-selector-span {
    border-width: 1px;
    background-color: #082915;
}

.description-wrapper {
    width: 100%;
    margin: 1rem 0;
}

@media (min-width: 1024px) {
    .description-wrapper {
        margin: 2rem 0;
    }
}

.description-text {
    text-align: center;
    color: #f3f4f6;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.maps-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 0.5rem;
}

@media (min-width: 1024px) {
    .maps-wrapper {
        width: 75%;
        max-height: 100vh;
    }
}

.map-image-wrapper {
    position: relative;
    display: flex;
    padding: 1rem;
    cursor: grab;
    transform-origin: 0 0;
    transform: scale(1) translate(0, 0);
}

.map-image-wrapper img {
    max-height: 100vh;
}

.map-image-marker {
    opacity: 0;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
}

@media (min-width: 640px) {
    .map-image-marker {
        width: 1.75rem;
        height: 1.75rem;
    }
}

.reset-zoom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    opacity: 0.8;
    position: absolute;
    top: 5%;
    left: 90%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.reset-zoom-button img {
    width: 75%;
}

.reset-zoom-button:hover {
    background-color: #082915;
    opacity: 1;
}

@media (min-width: 1024px) {
    .reset-zoom-button {
        width: 4rem;
        height: 4rem;
    }
}
