.map-container {
    display: flex;
    flex-direction: column;
    margin-top: -11rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    border-radius: 0.375rem;
}

.map-image-wrapper {
    padding: 0.5rem;
}

@media (min-width: 768px) {
    .map-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .map-image-wrapper {
        padding: 2rem;
    }
}
