.search-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    z-index: 30;
    background-color: white;
    border-radius: 0.375rem;
}

.search-container-image {
    height: 100%;
    padding: 0.5rem;
    opacity: 0.4;
}

.search-container-input {
    width: 83.333333%;
    color: #4b5563;
}

.search-container-input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.search-results {
    position: absolute;
    width: 100%;
    z-index: 20;
    padding-top: 2.75rem;
    padding-bottom: 0.5rem;
    color: #1f2937;
    background-color: white;
    left: 0;
    top: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.search-result-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.search-result-wrapper-noresult {
    padding: 0.5rem;
    width: 100%;
}

.search-result-wrapper:hover {
    background-color: #e5e7eb;
}

.search-result-link {
    display: flex;
    flex-direction: row;
}

.search-result-name {
    width: 75%;
}

.search-result-type {
    width: 25%;
    opacity: 0.5;
    text-align: right;
}

.search-result-focussed {
    background-color: #e5e7eb;
    color: #1f2937;
}
