<footer class="footer">
    <p class="footer-copyright">
        &copy;
        {{ '' | currentYear}},
        MalazanMaps. All Rights Reserved.
    </p>
    <div class="footer-links">
        <a href="/privacy/">Privacy</a>
         -
        <a href="mailto:johan@malazanmaps.com">Contact</a>
         -
        <a target="_blank" rel="nofollow noopener" href="https://www.github.com/JJMeijer/Malazan-Maps">Github</a>
    </div>
</footer>
