<footer class="flex flex-col lg:flex-row items-center justify-center flex-wrap w-full bg-primary py-1 px-6 text-center mt-auto text-sm">
    <p>
        &copy;
        {{ '' | currentYear}},
        MalazanMaps. All Rights Reserved.
    </p>
    <div class="pl-1">
        <a href="/" class="px-1 underline whitespace-nowrap hover:text-blue-500">Home</a>
         -
        <a href="/privacy/" class="px-1 underline whitespace-nowrap hover:text-blue-500">Privacy</a>
         -
        <a href="mailto:johan@malazanmaps.com" class="px-1 underline whitespace-nowrap hover:text-blue-500">Contact</a>
    </div>
</footer>
