<footer class="footer">
    <p class="footer-copyright">
        &copy;
        2021,
        MalazanMaps. All Rights Reserved. For feedback, questions or bugs please <a href="mailto:johan@malazanmaps.com">send an email.</a>
    </p>
</footer>
