<div class="navbar">
    <a href="/">
        <p class="navbar-site-title">
            Malazan Maps
        </p>
    </a>
    <p class="navbar-seperator">
        >
    </p>
    <p class="navbar-page-title">
        {{ title }}
    </p>
</div>
