<div id="search-wrapper" class="flex flex-col h-12 w-full relative">
    <div class="flex flex-row h-full z-30 bg-white rounded-lg">
        <img
            width="24"
            height="24"
            class="h-12 w-12 p-2 opacity-40"
            src="/static/img/search2.webp"
            alt="search icon"
            title="search icon"
        >
        <input
            spellcheck="false"
            autocomplete="off"
            id="search"
            type="text"
            class="w-5/6 text-gray-600 caret-current focus:outline-none"
            placeholder="Search..."
        />
    </div>
    <div id="search-results" class="hidden absolute w-full z-20 pt-11 pb-2 text-gray-800 bg-white left-0 top-0 rounded-t-2xl rounded-b-md shadow-md"></div>
</div>
