{% load cdnstaticfiles %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page_title }} | Malazan Maps</title>
        <meta name="description" content="{{ page_description }}">
        <link rel="canonical" href="https://www.malazanmaps.com{{ request_path }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% cdnstatic "img/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% cdnstatic "img/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% cdnstatic "img/favicon-16x16.png" %}">
        <link rel="manifest" href="{% cdnstatic "manifest.json" %}">
        <link rel="stylesheet" type="text/css" href="{% cdnstatic "css/main-dist.css" %}" media="screen">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' cloudflareinsights.com *.cloudflareinsights.com">
    </head>
    <body>
        <div class="base-container">
            {% block navbar %}
                <div class="navbar">
                    <a href="{% url "home" %}">
                        <p class="navbar-site-title">
                            Malazan Maps
                        </p>
                    </a>
                    <p class="navbar-seperator">
                        >
                    </p>
                    <p class="navbar-page-title">
                        {{ page_title }}
                    </p>
                </div>
            {% endblock navbar %}

            {% block content %}{% endblock content %}
            {% block footer %}
                {% include "components/footer.html" %}
            {% endblock footer %}
        </div>
        {{ entries|json_script:"entries"}}
        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "14bbcec148534153af8df9fc3d0ed635"}'>
        </script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html>
