{% load static %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{{ page_title }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" type="text/css" href="{% static "css/tailwind-dist.css" %}">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    </head>
    <body class="font-serif">
        <div class="h-screen text-gray-800 flex flex-col items-center">
            <div class="flex flex-col justify-content items-center w-full lg:w-3/4 mt-4">
                <a href="{% url "home" %}">
                    <h1 class=" font-bold text-4xl my-4 text-center">
                        Malazan Maps
                    </h1>
                </a>
                <div class="relative flex flex-col h-10 w-2/3 my-8 rounded-2xl border-gray-400 border shadow-md lg:w-1/2">
                    <div class="flex flex-row h-full z-20 bg-white rounded-2xl">
                        <a class="h-full" href="{% url "home" %}">
                            <img class="h-full p-2 opacity-40" src="{% static "img/search-1.png" %}">
                        </a>
                        <input
                            spellcheck="false"
                            id="search"
                            type="text"
                            class="w-5/6 focus:outline-none text-gray-600 rounded-2xl"
                            placeholder="Search..."
                        />
                    </div>
                    <div
                        id="search-results"
                        class="hidden absolute z-10 pt-10 text left-0 top-0 border-r border-l border-b bg-gray-600
                               opacity-80 border-gray-800 w-full rounded-2xl"
                    ></div>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <script>
            malazan = {};
            malazan.entries = JSON.parse('{{ entries|safe }}')
        </script>
        <script src="{% static "js/base.js" %}"></script>
    </body>
</html>