{% extends "base.html" %}

{% load static %}

{% block breadcrumb %}
    <p class="px-1">
        >
    </p>
    <a href="{% url "book_list" %}">
        <p class="p-2 text-lg">
            Books
        </p>
    </a>
{% endblock breadcrumb %}

{% block content %}
    <div class="flex flex-col flex-wrap items-start justify-center p-8 -my-24 mx-8 bg-white rounded-md
                lg:flex-row">
        {% for book in books %}
            <div class="w-full flex justify-center p-4 h-96
                        lg:w-1/5">
                <a
                    href="{% url "book_detail" book.short_name %}"
                    class="group flex flex-col items-center p-2">
                    <img
                        src="{{ book.cover.url }}"
                        class="border border-gray-400 rounded-md shadow-md
                                group-hover:opacity-60 h-5/6"/>
                    <p class="text-center group-hover:underline">
                        {{ book.name }}
                    </p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}