{% extends "base.html" %}

{% load static %}

{% block  content %}
    <div class="flex flex-col items-center justify-center border-t border-gray-200 mt-8">
        <div class="flex flex-row my-4">
            {% for marker in markers %}
                <label class="{% if markers|length == 1 %}hidden{% endif %}" for="map-selector-{{ forloop.counter }}">
                    <input
                        class="hidden"
                        type="radio"
                        id="map-selector-{{ forloop.counter }}"
                        name="map-selector"
                        {% if forloop.counter == 1 %}checked{% endif %}
                    >
                    <span
                        class="p-2 m-2 shadow-sm rounded-2xl border border-gray-600 label-checked:border-2"
                    >
                        {{ marker.map.name }}
                    </span>
                </label>
            {% endfor %}
        </div>
        <div class="flex flex-col p-2 mb-8 items-center lg:items-start lg:flex-row lg:justify-center">
            {% for marker in markers %}
                <div class="{% if forloop.counter > 1 %}hidden{% endif %} relative m-2 w-full lg:m-0 lg:w-2/3" id="map-imagewrapper-{{ forloop.counter }}">
                    <img
                        src="{{ marker.map.image.url }}"
                        class="object-contain"
                        id="map-image-{{ forloop.counter }}"
                    >
                    <img
                        src="{% static "img/marker-1.png" %}"
                        class="opacity-0 absolute w-8 h-8 object-contain"
                        id="map-marker-{{ forloop.counter }}"
                        data-markerx={{ marker.x }}
                        data-markery={{ marker.y }}
                    >
                </div>
            {% endfor %}
            <div class="border-gray-600 border rounded-lg w-96 mt-8 ml-8 shadow-lg bg-gray-100">
                <div class="bg-gray-200 rounded-t-md w-full flex items-center justify-center p-2 border-b border-gray-600">
                    <p class="text-center text-2xl">{{ city_name }}</p>
                </div>
                <div class="p-2">
                    <p class="mb-2"> {{ description }}</p>
                    <a
                        class="text-blue-600 underline hover:text-blue-900 visited:text-purple-600"
                        href="{{ wiki_link }}"
                    >
                        wiki link
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/city.js" %}"></script>
{% endblock %}