{% extends "base.html" %}

{% load cdnstaticfiles %}

{% block content %}
    <div class="home-header-container">
        {% include "components/search.html" %}
        <h1 class="home-header-description">
            {{ description }}
        </h1>
    </div>

    <div class="home-container">
        <div class="home-image-wrapper" id="map-image-wrapper">
            <img
                src="{{ header_map.image.url }}"
                class="object-contain"
                alt="North Genabackis Map"
                title="North Genabackis Map"
            >
        </div>
    </div>
{% endblock content %}
