{% extends "base.html" %}

{% block content %}
    <div class="flex flex-col items-center w-3/4">
        <div class="mb-8">
            <p class="text-center text-lg">
                Simple search engine to find places in the world of Malazan: Book of the Fallen.
            </p>
        </div>
        <div class="flex flex-col -space-y-48 lg:flex-row lg:-space-x-32 lg:-space-y-0">
            <a class="" href="{% url 'maps' hero_1.short_name %}">
                <img
                    src="{{ hero_1.image.url }}"
                    class="bg-white p-2 border border-gray-300 rounded-md shadow-md ml-12 hover:border-gray-600 lg:mt-12 lg:ml-0"
                >
            </a>
            <a class="" href="{% url 'maps' hero_2.short_name %}">
                <img
                    src="{{ hero_2.image.url }}"
                    class="border border-gray-300 rounded-md shadow-md -ml-12 hover:border-gray-600 lg:-ml-0"
                >
            </a>
            <a class="" href="{% url 'maps' hero_3.short_name %}">
                <img
                    src="{{ hero_3.image.url }}"
                    class="border border-gray-300 rounded-md shadow-md ml-6 hover:border-gray-600 lg:mt-24 lg:ml-0"
                >
            </a>
        </div>
    </div>
{% endblock %}