{% extends "base.html" %}

{% load cdnstaticfiles %}

{% block navbar %}
{% endblock navbar %}

{% block footer %}
    <div class="footer-wrapper-bottom">
        {% include "components/footer.html" %}
    </div>
{% endblock footer %}

{% block content %}
    <div class="place-container">
        <div class="place-left-menu">
            <div class="navbar">
                <a href="{% url "home" %}">
                    <p class="navbar-site-title">
                        Malazan Maps
                    </p>
                </a>
                <p class="navbar-seperator">
                    >
                </p>
                <p class="navbar-page-title">
                    {{ page_title }}
                </p>
            </div>

            <p class="place-left-menu-title">
                {{ page_title }}
            </p>

            <div id="search-wrapper" class="place-search-wrapper">
                {% include "components/search.html" %}
            </div>

            <div class="{% if markers|length == 1 %}hidden{% endif %} place-map-selector-wrapper">
                {% for marker in markers|dictsortreversed:"map.priority" %}
                    <label class="place-map-selector-label" for="map-selector-{{ forloop.counter }}">
                        <input
                            class="hidden"
                            type="radio"
                            id="map-selector-{{ forloop.counter }}"
                            name="map-selector"
                            {% if forloop.counter == 1 %}checked{% endif %}
                        >
                        <span tabindex="4" class="place-map-selector-span">
                            {{ marker.map.name }}
                        </span>
                    </label>
                {% endfor %}
            </div>

            <div class="place-description-wrapper">
                <p class="place-description-text">
                    {{ description }}
                </p>
            </div>

            <div class="footer-wrapper-left">
                {% include "components/footer.html" %}
            </div>
        </div>

        <div class="place-maps-wrapper">
            {% for marker in markers|dictsortreversed:"map.priority" %}
                <div class="place-map-wrapper">
                    <div
                        class="{% if forloop.counter > 1 %}hidden{% endif %} place-image-wrapper"
                        id="map-imagewrapper-{{ forloop.counter }}"
                    >
                        <img
                            src="{{ marker.map.image.url }}"
                            class="object-contain"
                            id="map-image-{{ forloop.counter }}"
                        >
                        <img
                            src="{% cdnstatic "img/marker-1.png" %}"
                            class="place-image-marker object-contain"
                            id="map-marker-{{ forloop.counter }}"
                            data-markerx={{ marker.x }}
                            data-markery={{ marker.y }}
                        >
                    </div>

                </div>
            {% endfor %}
            <div
                class="place-reset-zoom-button hidden"
                id="reset-zoom-button">
                <img src="{% cdnstatic "img/reset-zoom-w.png" %}" class="object-contain">
            </div>
        </div>
    </div>
    <script src="{% cdnstatic "js/place.js" %}"></script>
{% endblock content %}
