{% extends "base.html" %}

{% load cdnstaticfiles %}

{% block navbar %}

{% endblock navbar %}


{% block content %}
    <div class="flex flex-col lg:flex-row w-full">
        <div class="w-full lg:w-1/4 flex flex-col items-center bg-primary lg:min-h-screen">
            {% comment %} Custom Smaller Navbar {% endcomment %}
            <div class="bg-primary text-gray-100 p-1 flex flex-row items-center w-full border-b border-gray-600">
                <a href="{% url "home" %}">
                    <p class="ml-4 p-2 text-2xl">
                        Malazan Maps
                    </p>
                </a>
                <p class="px-1">
                    >
                </p>
                <p class="p-2 text-md">
                    {{ page_title }}
                </p>
            </div>


            <div id="search-wrapper" class="relative flex flex-col h-10 w-5/6 my-8">
                {% include "components/search.html" %}
            </div>

            <div class="{% if markers|length == 1 %}hidden{% endif %} flex flex-row flex-wrap justify-center text-gray-100">
                {% for marker in markers %}
                    <label class="mx-2 my-3" for="map-selector-{{ forloop.counter }}">
                        <input
                            class="hidden"
                            type="radio"
                            id="map-selector-{{ forloop.counter }}"
                            name="map-selector"
                            {% if forloop.counter == 1 %}checked{% endif %}
                        >
                        <span
                            class="p-2 cursor-pointer shadow-sm rounded-2xl border label-checked:border-2"
                        >
                            {{ marker.map.name }}
                        </span>
                    </label>
                {% endfor %}
            </div>

            <div class="w-full py-4 my-4">
                <p class="text-center text-gray-100 text-lg px-4">
                    {{ description }}
                </p>
            </div>
        </div>

        <div class="flex justify-center items-center w-full max-h-screen lg:w-3/4 p-4">
            {% for marker in markers %}
                <div class="h-screen">
                    <div
                        class="{% if forloop.counter > 1 %}hidden{% endif %} relative flex h-full"
                        id="map-imagewrapper-{{ forloop.counter }}">
                        <img
                            src="{{ marker.map.image.url }}"
                            class=""
                            id="map-image-{{ forloop.counter }}"
                        >
                        <img
                            src="{% cdnstatic "img/marker-1.png" %}"
                            class="opacity-0 absolute w-5 h-5 object-contain sm:w-7 sm:h-7"
                            id="map-marker-{{ forloop.counter }}"
                            data-markerx={{ marker.x }}
                            data-markery={{ marker.y }}
                        >
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% cdnstatic "js/marker.js" %}"></script>
{% endblock content %}
