name: CI

on:
    push:

jobs:
    test-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4
              with:
                  version: 10
                  cache: true

            - name: Install dependencies
              run: pnpm install

            - name: Build
              run: pnpm build:all
