name: Deploy
on:
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - 'views/**'
      - '.eleventy.js'
      - '.github/workflows/deploy.yml'

  # for testing right now
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'views/**'
      - '.eleventy.js'
      - '.github/workflows/deploy.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      id-token: write

    steps:
    - id: checkout
      uses: actions/checkout@v6

    - id: pnpm-install
      uses: pnpm/action-setup@v4
      with:
        version: 10
        cache: true

    - id: pnpm-deps
      run: pnpm install

    - id: build
      run: pnpm build:all

    - id: authh
      uses: 'google-github-actions/auth@v3'
      with:
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ secrets.SERVICE_ACCOUNT }}

    - id: deploy
      uses: 'google-github-actions/deploy-appengine@v3'
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        working_directory: './www'
        promote: false
